<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDbConnection"
			connectionString="Data Source=localhost\\SQLEXPRESS;Initial Catalog=demo;User ID=sa;Password=wayu2001;"
			providerName="System.Data.SqlClient" />

	</connectionStrings>
</configuration>
